 :root {
   --primary-color: #ff9854;
   --van-gray-6: var(--primary-color);
   --van-primary-color: var(--primary-color);

 }

 body,
 button,
 input,
 select,
 td,
 textarea,
 th {
   font-family: PingFangSC-Regular, Helvetica Neue, sans-serif;
   font-size: 14px;
   color: #333;
 }

 .icon_check {
   display: inline-block;
   width: 12px;
   height: 12px;
   background: url('../img/detail/icon_check.png') 0 0 / 100% 100%;
 }

 .single_row_ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }